<footer>
    <div class="footer-content">
      <div class="footer-section contact">
        <span><i class="fas fa-phone"></i> +36 70 4188 895</span>
        <span><i class="fas fa-envelope"></i> faragoakos@faragoakos.hu</span>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-section socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2023 - Kosárlabda Bajnokság
    </div>
  </footer>
  